<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Profile</title>
</head>
<body>
    <h1>Welcome to your Admin Profile</h1>
    <p>Username: {{ request.user.username }}</p>
    <p>Name: {{ request.user.name }}</p>
    <li><a href="{% url 'feedback:approve_reviews' %}">View Pending Reviews to Be Approved</a></li>
    <li><a href="{% url 'feedback:restaurant_list' %}">View Restaurant List</a></li>
    <li><a href="{% url 'feedback:submit_restaurant' %}">Submit New Restaurant</a></li>
    <li><a href="{% url 'feedback:logout' %}">Logout</a>
</body>
</html>