{% load socialaccount %}
<html>
<body>
  <h1>Welcome to FEEDback!</h1>
  {% if user.is_authenticated %}
    <p>Welcome, you are logged in as {{ user.username }}</p>
    {% if user.is_user %}
      <p>You are currently using a USER account.</p>
      <a href="{% url 'feedback:restaurant_list' %}">View Restaurant List</a>
    {% endif %} 
    {% if user.is_admin %}
      <p>You are currently using an ADMIN account.</p>
      <li><a href="{% url 'feedback:approve_reviews' %}">View Pending Reviews to Be Approved</a></li>
      <li><a href="{% url 'feedback:restaurant_list' %}">View Restaurant List</a></li>
      <li><a href="{% url 'feedback:submit_restaurant' %}">Submit New Restaurant</a></li>
    {% endif %} 
    <li><a href="{% url 'feedback:logout' %}">Logout</a>
  {% else %}
    <li><a href="{% provider_login_url 'google' %}?next=/feedback/complete/google-oauth2/user/">Login As or Create New User Account</a></li>
    <li><a href="{% provider_login_url 'google' %}?next=/feedback/complete/google-oauth2/admin/">Login As or Create New Admin Account</a></li>
  {% endif %} 
</body>
</html>