{% load socialaccount %}
<html>
<head>
    <title>{{ restaurant.name }}</title>
</head>
<body>
    <h1>{{ restaurant.name }}</h1>
    <h2>Reviews:</h2>
    {% if reviews %}
        <ul>
            {% for review in reviews %}
                {% if review.approved and review.restaurant == restaurant %}
                    <li>{{ review.content }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No reviews yet.</p>
    {% endif %}

    {% if user.is_user %}
    <h2>Submit a Review:</h2>
    <form method="post">
        {% csrf_token %}
        <textarea name="content" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Submit Review">
    </form>
    {% endif %}
</body>
</html>
