# Django dependencies
Django==4.2.4

# User Authentication
django-allauth

# Web Server
gunicorn

# Django Heroku
django-heroku

# Social Authentication (Google)
django-allauth

# Database configuration
dj-database-url

# Other dependencies
# whitenoise
# asgiref
# sqlparse


