{% extends "base.html" %}
{% load socialaccount %}
{% load bootstrap5 %}
{% load static %}
<html>
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'feedback/style.css' %}">
</head>
<body>
    {% block content %}
    <h1>Pending Restaurants</h1>
    {% if pending_restaurants %}
        {% for restaurant in pending_restaurants %}
            <!-- INFO ABOUT RESTAURANT -->
            <p><strong>Restaurant:</strong> {{ restaurant.name }}<br>
            <strong>Username:</strong> {{ restaurant.user.username }}<br>
            <strong>Location:</strong> {{ restaurant.street_address }} {{ restaurant.city }} {{ restaurant.state }}<br>
            </p> 
            <form method="post" action="{% url 'feedback:approve_or_reject_restaurants'%}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
                <button type="submit" name="action" value="approve">Approve</button>
                <button type="submit" name="action" value="reject">Reject</button>
            </form>
        {% endfor %}
    {% else %}
        <p>No pending restaurants to be approved.</p>
    {% endif %}
    {% endblock %}
</body>
</html>