{% extends "base.html" %}
{% load socialaccount %}
{% load bootstrap5 %}
{% load static %}
<html>
<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaoOcQLJHlgQQyc98Wfw_dpA6j3H4c70M&callback=initMap" async defer></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'feedback/style.css' %}">
</head>
<body> 
    {% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                {% for restaurant in restaurants %}
                    <div class="card text-center mb-3">
                        <div class="card-body">
                            <h3 class="card-title">{{ restaurant.name }}</h3>
                            <div class="review-feedback">
                                <span class="average-rating">
                                    {% for i in "12345" %}
                                        <span class="fa fa-star {% if i|add:"-1" < restaurant.average_rating %} checked {% endif %}"></span>
                                    {% endfor %}
                                </span>
                                <span class="review-count">
                                    ({{ restaurant.count_reviews }} reviews)
                                </span>
                            </div>
                            <a href="{% url 'feedback:restaurant_detail' restaurant_id=restaurant.id %}" class="btn btn-primary mt-2">View Restaurant Details</a>
                        </div>
                    </div>
                {% empty %}
                    <p>No restaurants available.</p>
                {% endfor %}
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div id="map" style="height: 600px;"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: { lat: 38.0318784, lng: -78.5103819 }, // Default center of the map
                styles: [
                    {
                        featureType: "poi",
                        elementType: "all",
                        stylers: [{ visibility: "off" }],
                    },
                ]
            });

            var restaurants = {{ restaurants_json|safe }};
            restaurants.forEach(function(restaurant) {
                var restaurantLatLng = {
                    lat: parseFloat(restaurant['fields']['lat']),
                    lng: parseFloat(restaurant['fields']['lng'])
                };
                new google.maps.Marker({
                    position: restaurantLatLng,
                    map: map,
                    label: restaurant['fields']['name'],
                });
            });
        }
        window.initMap = initMap;
    </script>

    {% endblock %}
</body>
</html>
