{% extends "base.html" %}
{% load bootstrap5 %}
<html>
<head>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    {% block content %}
    <div class="container text-center mt-5">
        <h1 class="text-center mb-4">Submit New Restaurant</h1>
        <div class="card text-center mx-auto w-50">
            <div class="card-body">
                <form method="post" class="my-4">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Submit Restaurant">
                </form>
            </div>
        </div>

        {% if user.is_user %}
            {% if message %}
                <p>{{ message }}</p><br>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
</body>
</html>
