{% extends "base.html" %}
{% load bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    {% block content %}
    <h1>Welcome to your User Profile!</h1>
    <p>Username: {{ request.user.username }}</p>
    <p>Name: {{ request.user.name }}</p>
    <p><a href="{% url 'feedback:restaurant_list' %}">View Restaurant List</a></p>
    <p><a href="{% url 'feedback:review_list' %}">View Your Reviews</a></p>
    <p><a href="{% url 'feedback:submit_restaurant' %}">Submit New Restaurant</a></p>
    <p><a href="{% url 'feedback:user_submitted_restaurant_list' %}">View Your Submitted Restaurants</a></p>
    <p><a href="{% url 'feedback:logout' %}">Logout</a></p>
    {% endblock %}
</body>
</html>